{% extends 'base.html' %}
{% block title %}History{% endblock %}
{% block body %}
{% for hist in history reversed %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="card border border-primary">
            <div class="card-header">
                <h5 class="card-title">{{hist.post.title}}</h5>
            </div>
            <div class="card-body overflow-y-auto ">
                <p class="card-text">{{hist.post.content}}.</p>
            </div>
            <div class="card-footer  text-danger ">
                <span>Pseudo name: {{hist.post.pseudo_name}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Posted date:{{hist.post.date_time}} <a href="/delete/{{hist.post.post_id}}"><i class="fa-solid fa-trash position-absolute end-0 me-2"></i></a></span>
            </div>
        </div>
    </div>
</div>
</div>

</div>
{% endfor %}
{% endblock %}